@model IEnumerable<Sibelius.Web.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Admin Courses</h2>

<p>
    <a class="btn btn-primary" href="~/AdminCourses/Create">
        <span class="glyphicon glyphicon-plus"> </span>
    </a>
</p>
<table class="table table-striped table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.University)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.University)
        </td>
        <td>
        <td>
            <a class="btn btn-primary btn-sm" href="~/Courses/Show/@item.Id">
                <span class="glyphicon glyphicon-share"></span>
            </a>
            <a class="btn btn-primary btn-sm" href="~/AdminCourses/Edit/@item.Id">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-default  btn-sm" href="~/AdminCourses/Delete/@item.Id">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
        </td>
    </tr>
}

</table>
