@model Sibelius.Web.Models.Question
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaKeywords = Model.Tags;
    Sibelius.Web.Models.Collaborator collaborator = ViewBag.Collaborator;
    string nombre = Model.Name == null ? "Anónimo" : Model.Name;
    ViewBag.ContainerClass = "body-content";
}
<br />
<div class="row">
    <div class="col-xs-12">
        <center>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Questions -->
            <ins class="adsbygoogle"
                 style="display:block;max-width:970px;width:100%;"
                 data-ad-client="ca-pub-1426867402604645"
                 data-ad-slot="9148704012"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="pubdiv"></div>
        </center>

        <br />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8">
        <h3>@Model.Title</h3>
        <blockquote>
            <p class="text-justify">@Html.Raw(Model.Text)</p>
            <small>@nombre</small>
        </blockquote>
        <br />
        <div class="text-justify">
            @Html.Raw(Model.HtmlAnswer)
        </div>
        <br />
        <div class="row text-center">
            @Social.DefaultBtn(string.Format("http://thescienceofcode.azurewebsites.net/Questions/Show/{0}", Model.Id))
        </div>
        <br />
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-xs-12">
                        <h4>¿Quién contestó?</h4>
                    </div>
                    <div class="col-sm-10">
                        @Social.Collaborator(collaborator)
                    </div>

                    <div class="col-sm-2 hidden-xs">
                        <img class="img-responsive center-block" src="@collaborator.ImgUrl" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3>Discusión</h3>
                <h5>¡Haga sus comentarios o preguntas aquí!</h5>
                <div id="disqus_thread"></div>
            </div>
        </div>
       @Social.Disqus(
            Model.Title, 
            string.Format("http://thescienceofcode.azurewebsites.net/Questions/Show/{0}",Model.Id))
    </div>
    <div class="col-md-4" id="questions-list">
        @{Html.RenderAction("List", "Questions", null);}
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/app/questions.js"></script>
}
