@model Sibelius.Web.Models.MainpageVM
@{
    ViewBag.Title = "Portada";
    ViewBag.MetaDescription = "Somos una comunidad dedicada a la enseñanza de las Ciencias de la Computación como Arte Liberal";
    ViewBag.MetaKeywords = "computación, software, programación, desarrollo, tutoriales, cursos";
    ViewBag.MainImage = Model.Articles[0].ImageUrl;

    var articles = Model.Articles;
    var posts = Model.Posts;
    int bigArticles = 3;
}

<div class="sl sl-top">
    <div class="sl-over">
        <div class="container">
            <div class="row">
                <img class="img-responsive" src="~/Content/img/the-science-of-code.png" alt="The Science of Code" />
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">
                            @Articles.Headline(articles[0])
                        </div>
                        @for (int i = 1; i < bigArticles; ++i)
                        {
                            <div class="col-sm-6">
                                @Articles.Headline(articles[i])
                            </div>
                        }
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="news-headlines">
                        <a href="~/Posts"><h1>Noticias <i class="fa fa-lightbulb-o" aria-hidden="true"></i></h1></a>
                        <div class="news-group">
                            @{ var img = true;}
                            @foreach (var post in posts)
                            {
                                @Posts.Headline(post, img)
                                img = false;
                            }
                            <a class="section-btn-more" href="~/Posts">Ver más Posts ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">


</div>
<div class="row">
    <div class="col-xs-12">
        <center>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Main TSOC -->
            <ins class="adsbygoogle"
                 style="display:block;max-width:970px;width:100%;"
                 data-ad-client="ca-pub-1426867402604645"
                 data-ad-slot="7023487219"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="pubdiv"></div>
        </center>
    </div>
</div>

<div class="row row-no-margin">

    <div class="col-sm-4">
        <div class="row row-no-margin">
            <div class="col-xs-12">
                <span class="section-span">
                    Últimos Posts
                </span>
                <div class="section-div tsoc-group">
                   
                    @foreach (var post in posts)
                    {
                        @Posts.Headline(post, img)
                        img = false;
                    }
                    <a class="section-btn-more" href="~/Posts">Ver más Posts ></a>
                </div>
            </div>
        </div>
        <div class="row row-no-margin" " id="questions-list">
            <div class="col-xs-12">
                @{Html.RenderAction("List", "Questions", new { pagination = false }); }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span class="section-span light">
                Más artículos
            </span>
        </div>
    </div>
    <div class="col-sm-12">
        @for (int i = bigArticles; i < articles.Count; i += 4)
        {
            <div class="row">
                @for (int j = i; (j < i + 4) && (j < articles.Count); ++j)
                {
                    <div class="col-sm-3">
                        @Articles.Headline(articles[j], true)
                    </div>
                }
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/app/questions.js"></script>
}

