@model List<Sibelius.Web.Models.Article>
@{
    ViewBag.Title = "Portada";
    ViewBag.MetaDescription = "Somos una comunidad dedicada a la enseñanza de las Ciencias de la Computación como Arte Liberal";
    ViewBag.MetaKeywords = "computación, software, programación, desarrollo, tutoriales, cursos";
}

<div class="row">
    @{
        Sibelius.Web.Models.Article first = Model[0];
    }
    <div class="col-sm-8">
        <div class="col-sm-12 col-xs-8">
            <h3><a href="~/Articles/Show/@first.Id">@first.Title</a></h3>
            <h4>@first.Section</h4>
            <p>Por @first.Author</p>
        </div>
        <div class="col-sm-8 hidden-xs">
            <p class="article-text-intro">
                @first.Intro
            </p>
            <br />
        </div>
        <div class="col-sm-4 col-xs-4">
            <br class="visible-xs" />
            <img class="img-responsive" src="@first.ImageUrl" alt="Imagen del artículo @first.Title" />
            <br />
        </div>
        <div class="col-xs-12 hidden-xs">
            <div class="btn-group-justified btn-group-sm">
                <a class="btn btn-primary" href="~/Articles/Show/@first.Id">Continuar leyendo <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 hidden-xs">
        <br />
        <a class="twitter-timeline" href="https://twitter.com/ScienceOfCode" data-widget-id="609045119644409856">Tweets ScienceOfCode.</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-8">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Main TSOC -->
        <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-1426867402604645"
                data-ad-slot="7023487219"
                data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <div class="pubdiv"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-8">
        <div class="row">
            @for (int i = 1; i <= 4; ++i)
            {
                <div class="col-sm-6">
                    <h3><a href="~/Articles/Show/@Model[i].Id">@Model[i].Title</a></h3>
                    <h4>@Model[i].Section</h4>
                    <p>Por @Model[i].Author</p>
                </div>
            }
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="row">
            @for (int i = 5; i < Model.Count; ++i)
            {
                <div class="col-sm-6">
                    <h3><a href="~/Articles/Show/@Model[i].Id">@Model[i].Title</a></h3>
                    <h4>@Model[i].Section</h4>
                    <p>Por @Model[i].Author</p>
                </div>
            }
        </div>
    </div>
</div>