@model Dictionary<string, Sibelius.Web.Models.Article>
@{
    ViewBag.Title = "Portada";
    ViewBag.MetaDescription = "Somos una comunidad dedicada a la enseñanza de las Ciencias de la Computación como Arte Liberal";
    ViewBag.MetaKeywords = "computación, software, programación, desarrollo, tutoriales, cursos"; 
}

<div class="row">
    @{
        Sibelius.Web.Models.Article first = Model["0"];
        Sibelius.Web.Models.Article second = Model["1"];
        Sibelius.Web.Models.Article third = Model["2"];
        Sibelius.Web.Models.Article fourth = Model["3"];
        Sibelius.Web.Models.Article fifth = Model["4"];
    }
    <div class="col-sm-8">

        <h3><a href="~/Articles/Show/@first.Id">@first.Title</a></h3>
        <h4>@first.Section</h4>
        <p>Por @first.Author</p>
        <div class="col-sm-8">
            <p class="article-text-intro hidden-xs">
                @first.Intro
            </p>
            <br />            
        </div>
        <div class="col-sm-4 hidden-xs">
            <img class="img-responsive" src="@first.ImageUrl" alt="Imagen del artículo @first.Title"/>
            <br /> 
        </div>
        <p class="article-text">
            <div class="btn-group-justified btn-group-sm">
                <a class="btn btn-primary" href="~/Articles/Show/@first.Id">Continuar leyendo <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </p>
    </div>
    <div class="col-sm-4">
        <br />
        <a class="twitter-timeline" href="https://twitter.com/ScienceOfCode" data-widget-id="609045119644409856">Tweets ScienceOfCode.</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6">
                <h3><a href="~/Articles/Show/@second.Id">@second.Title</a></h3>
                <h4>@second.Section</h4>
                <p>Por @second.Author</p>
            </div>
            <div class="col-sm-6">
                <h3><a href="~/Articles/Show/@third.Id">@third.Title</a></h3>
                <h4>@third.Section</h4>
                <p>Por @third.Author</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3><a href="~/Articles/Show/@fourth.Id">@fourth.Title</a></h3>
                <h4>@fourth.Section</h4>
                <p>Por @fourth.Author</p>
            </div>
            <div class="col-sm-6">
                <h3><a href="~/Articles/Show/@fifth.Id">@fifth.Title</a></h3>
                <h4>@fifth.Section</h4>
                <p>Por @fifth.Author</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <br />
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Main TSOC -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1426867402604645"
             data-ad-slot="7023487219"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>