@model Sibelius.Web.Models.MainpageVM
@{
    ViewBag.Title = "Portada";
    ViewBag.MetaDescription = "Somos una comunidad dedicada a la enseñanza de las Ciencias de la Computación como Arte Liberal";
    ViewBag.MetaKeywords = "computación, software, programación, desarrollo, tutoriales, cursos";
    ViewBag.MainImage = Model.Articles[0].ImageUrl;

    ViewBag.FixeableNavbar = true;

    var articles = Model.Articles;
    var posts = Model.Posts;
    int bigArticles = 3;
}

@section Top{
<div class="sl sl-top">
    <div class="sl-over">
        <div class="container">
            <div class="row">
                <a id="main-logo-big" href="~/Home">
                    <img class="img-responsive" src="~/Content/img/the-science-of-code.png" alt="The Science of Code" />
                </a>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">
                            @Articles.Headline(articles[0])
                        </div>
                        @for (int i = 1; i < bigArticles; ++i)
                        {
                            <div class="col-sm-6 hidden-xs">
                                @Articles.Headline(articles[i])
                            </div>
                        }
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="news-headlines">
                        <a href="~/Posts"><h1><i class="fa fa-newspaper-o" aria-hidden="true"></i> Noticias </h1></a>
                        <div class="news-group">
                            @{ var img = true; }
                            @foreach (var post in posts)
                            {
                                @Posts.Headline(post, img)
                                img = false;
                            }
                            <a href="~/Posts">Más noticias <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sl sl-dark questions-headlines">
    <div class="container">
        <h3 class="text-center">PREGUNTAS DE LA COMUNIDAD</h3>
        <div class="row">
            @foreach (var question in Model.Questions)
            {
                <div class="col-sm-4">
                    <a class="question-btn" href="~/Questions/Show/@question.Id">
                        <div>
                            <div class="question-title">
                                @question.Title
                            </div>
                            @if (string.IsNullOrEmpty(question.Name))
                            {
                                <div><i class="fa fa-user-circle" aria-hidden="true"></i> Anónimo</div>
                            }
                            else
                            {
                                <i class="fa fa-user-circle" aria-hidden="true"></i> @question.Name
                            }
                        </div>
                    </a>
                </div>
            }
            <div class="col-sm-4">
                <a class="question-btn primary" href="~/Questions/">
                    <div>
                        <div class="question-title">
                            VER MÁS
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    <script src="~/Scripts/app/questions.js"></script>
}

