<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
        <meta property="og:description" content="@ViewBag.MetaDescription" />
    }
    @if (ViewBag.MetaKeywords != null)
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
    @if (ViewBag.MainImage != null)
    {
        <meta property="og:image" content="@ViewBag.MainImage" />
    }
    @if (ViewBag.ogUrl != null)
    {
        <meta property="og:url" content="@ViewBag.ogUrl" />
    }
    <meta property="fb:app_id" content="770797393033687" />
    <meta property="og:title" content="@ViewBag.Title" />
    <link href="~/Content/theme/theme.min.css" rel="stylesheet" />
    <title>@ViewBag.Title - The Science of Code</title>
    
    @if (Session["fonts"] != null)
    {
        @Html.Partial("_Fonts")
    }
</head>
@{
    ViewBag.bodyclass = ViewBag.bodyclass == null ? "light-body" : ViewBag.bodyclass;
    var cssFixeableNavbar = ViewBag.FixeableNavbar != null ? "fixeable-navbar" : "";
}

<body class="@ViewBag.bodyclass">
    <div id="main-navbar" class="navbar navbar-inverse navbar-fixed-top @cssFixeableNavbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle toggle-menu menu-left push-body" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home">
                    <img src="~/Content/img/the-science-of-code.png" class="img-responsive" alt="Logo The Science of Code" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="~/Articles">Artículos</a>
                    </li>
                    <li>
                        <a href="~/Posts">Noticias</a>
                    </li>
                    <li>
                        <a href="~/Questions">Pregúntanos</a>
                    </li>
                    <li>
                        <a href="~/Home/About">Nosotros</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Left menu element -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left">
        <br /><br />
        <a href="~/Articles">Artículos</a>
        <a href="~/Posts">Noticias</a>
        <a href="~/Questions">Pregúntanos</a>
        <a href="~/Home/About">Nosotros</a>
        <a class="toggle-menu menu-left push-body"><span class="glyphicon glyphicon-remove">&nbsp;</span> Cerrar</a>
    </nav>

    @if (Request.IsAuthenticated)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified">
                    @if (User.IsInRole("admin"))
                    {
                        <a class="btn btn-default" href="~/AdminArticles">
                            ARTICLES
                        </a>
                        <a class="btn btn-default" href="~/AdminPosts">
                            POSTS
                        </a>
                        <a class="btn btn-default" href="~/AdminCourses">
                            COURSES
                        </a>
                        <a class="btn btn-default" href="~/AdminAssets">
                            ASSETS
                        </a>
                        <a class="btn btn-default" href="~/AdminLicenses">
                            LICENSES
                        </a>
                    }
                    <a class="btn btn-default" href="~/AdminQuestions">
                        QUESTIONS
                    </a>
                    <a class="btn btn-default" href="~/Account">
                        USERS
                    </a>
                </div>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                }
            </div>
        </div>
    }

    @RenderSection("Top", required: false)
    <div class="container @ViewBag.ContainerClass">
        @RenderBody()
    </div>
    <div class="bot-menu">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-3 small">
                    <h6>CONTENIDO</h6>
                    <a href="~/Home/" target="_blank">Portada</a><br />
                    <a href="~/Posts/" target="_blank">Noticias</a><br />
                    <a href="~/Questions" target="_blank">Pregúntanos</a><br /><br />
                </div>
                <div class="col-sm-3 small">
                    <h6>SOCIAL</h6>
                    <a href="https://github.com/TheScienceOfCode/Sibelius.Web" target="_blank"><i class="fa fa-github"></i> Source code</a><br />
                    <a href="http://facebook.com/TheScienceOfCode" target="_blank">Facebook</a><br />
                    <a href="https://twitter.com/ScienceOfCode" target="_blank">Twitter</a><br /><br />
                </div>
                <div class="col-sm-3 small">
                    <h6>NOSOTROS</h6>
                    <a href="~/Home/About">Acerca de</a><br /><br />
                </div>
                <div class="col-sm-3 small">
                    <h6>LEGAL</h6>
                    <a href="~/Home/Privacy">Privacidad</a><br /><br />
                </div>
            </div>
        </div>
    </div>
    <footer id="main-footer">
        <i class="fa fa-cc"></i> 2013 - @DateTime.Now.Year.        
    </footer>
    @{var legal = HttpContext.Current.Session["legal"];}
    @if (legal == null || (bool)legal != true)
    {
        @Html.Partial("_LegalInfo")
    }
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jsutils")
    @if (Session["fonts"] == null)
    {
        @Html.Partial("_Fonts")
        Session["fonts"] = true;
    }
    @Html.Partial("_SocialLoader")
    @RenderSection("scripts", required: false)

    <script>
        $(function() {
            $('.toggle-menu').jPushMenu();
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-59510259-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
