<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription">
    }
    @if (ViewBag.MetaKeywords != null)
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords">
    }
    <title>@ViewBag.Title - The Science of Code</title>
    @Styles.Render("~/Content/css")
</head>
@{
    ViewBag.bodyclass = ViewBag.bodyclass == null ? "light-body" : ViewBag.bodyclass;
    string curUrl = Request.Url.AbsoluteUri.ToUpper();
    string coursesClass = curUrl.Contains("COURSES") ? "class=active" : "";
    string postsClass = curUrl.Contains("POSTS") ? "class=active" : "";
    string aboutClass = curUrl.Contains("ABOUT") ? "class=active" : "";
}

<body class="@ViewBag.bodyclass">
    <div id="main-navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="main-logo" class="navbar-brand" href="~/">
                    <img src="~/Content/logo-science-code.png" alt="Logo The Science of Code" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li @coursesClass>
                        <a href="~/Courses">CURSOS</a>
                    </li>
                    <li @postsClass>
                        <a href="~/Posts"><small><span class="glyphicon glyphicon-flash"></span></small>POSTS</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li @aboutClass>
                        <a href="~/Home/About">¿QUÉ ES ESTO?</a>
                    </li>
                    <li class="hidden-xs fb-navbar">
                        <a href="http://facebook.com/TheScienceOfCode" target="_blank"><i class="fa fa-facebook"></i></a>                        
                    </li>
                    <li class="hidden-xs tw-navbar">
                        <a href="https://twitter.com/ScienceOfCode" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br /><br /><br />
        <footer>
            <hr />
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-default" href="https://github.com/TheScienceOfCode/Sibelius.Web" target="_blank"><i class="fa fa-github"></i> Source code</a>
                    <a class="btn btn-default" href="http://facebook.com/TheScienceOfCode" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-default" href="https://twitter.com/ScienceOfCode" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-default" style="float: right" href="~/Home/Privacy">Privacidad</a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
                        <img alt="Licencia Creative Commons" style="border-width:0; float: right" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
                    </a>
                    <h5><i class="fa fa-cc"></i> 2013 - @DateTime.Now.Year - THE SCIENCE OF CODE. </h5>

                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </footer>
    </div>
    @{var legal = HttpContext.Current.Session["legal"];}
    @if (legal == null || (bool)legal != true)
    {
        <div id="legal-info" class="alert alert-info text-center">
            <small>Nos obligan a molestarte con la obviedad de que este sitio usa cookies</small> <br />
            <a class="btn btn-sm btn-info" href="~/Home/Privacy">Más información</a>
            <a class="btn btn-sm btn-info" id="legal-accept" data-url="@Url.Content("~/Home/LegalAccept")">Cerrar</a>
        </div>
    }
   
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    <link href='//fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '770797393033687',
                xfbml: true,
                version: 'v2.3'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

    @RenderSection("scripts", required: false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-59510259-1', 'auto');
        ga('send', 'pageview');
    </script>

    @{var pubadv = HttpContext.Current.Session["pubadv"];}
    @if (pubadv == null || (bool)pubadv != true)
    {
        <div id="pubadv" class="alert alert-warning text-center">
            <small>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                Creemos que el conocimiento debe ser de acceso libre para todos. <br />
                Desactivando tu AdBlock permites que podamos seguir liberando contenido de calidad.
            </small> <br />
            <a class="btn btn-sm btn-danger" id="pubadv-accept" data-url="@Url.Content("~/Home/PubAdvAccept")">Comprendo</a>
        </div>        
    }
    <script>
        $(document).ready(
            function(){
                setTimeout(checkAds, 5000);
            }
        );

        function checkAds() {
            var ad = document.querySelector("ins.adsbygoogle");
            if (ad && ad.innerHTML.replace('/\s / g', "").length == 0)
            {
                $('#pubadv').show('slow');
                $('.pubdiv').html('<div class="alert alert-info"><h3>¡Tú puedes ayudarnos!</h3><h4>Desactivando tu AdBlock nos apoyas para que podamos liberar más contenidos gratuitos.</h4></div>');
            }
        }
    </script>
</body>
</html>
