@model  Sibelius.Web.Models.Article
@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <div class="col-xs-12">
        <h3>@Model.Title</h3>
        <h4>@Model.Section</h4>
        <p>Por @Model.Author</p>

        <div class="col-sm-8">
            <p class="article-text-intro">
                @Model.Intro
            </p>
            <hr />
            <p class="article-text">
                @Html.Raw(Model.Html)
            </p>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="@Model.ImageUrl" alt="Imagen del artículo @Model.Title" />
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    @Html.Raw(Model.HtmlImageFooter)
                </div>
            </div>
            <div class="well">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="fb-like" data-href="http://thescienceofcode.azurewebsites.net/Articles/Show/@Model.Id" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                    </div>
                    <div class="col-sm-6" style="padding-top: 8px;">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://thescienceofcode.azurewebsites.net/Articles/Show/@Model.Id" data-via="ScienceOfCode">Tweet</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <br />
                <div class="col-xs-12">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- ArticlesTSOC -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-1426867402604645"
                         data-ad-slot="5053899614"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <h3>Comentar</h3>
        <div id="disqus_thread"></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'thescienceofcode';
        var disqus_identifier = '@Model.Id';
        var disqus_title = '@Model.Title';
        var disqus_url = 'http://thescienceofcode.azurewebsites.net/Articles/Show/@Model.Id';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
}
