@model  Sibelius.Web.Models.Article
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaDescription = Model.Title;
    ViewBag.MetaKeywords = Model.Tags;
    ViewBag.MainImage = Model.ImageUrl;
}

@{ var backgroundposition = Model.BackgroundPosition != null ? Model.BackgroundPosition : "center bottom"; }

<br />
<div class="row">
    <div class="col-xs-12">
        <center>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- ArticlesTSOC -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1426867402604645"
                 data-ad-slot="5053899614"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="pubdiv"></div>
        </center>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>@Model.Title</h2>
        <h4>@Model.Author</h4>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="box-image">
                    <div class="background-image" style="background-image: url(@Model.ImageUrl); background-position: @backgroundposition;"></div>
                </div>
                <div class="text-center">
                    @Html.Raw(Model.HtmlImageFooter)
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="row text-center">           
            @Articles.Stats(Model, "col-xs-12")
            @Social.DefaultBtn(string.Format("http://thescienceofcode.azurewebsites.net/Articles/Show/{0}", Model.Id))
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8">
        <p class="article-text-intro">
            @Model.Intro
        </p>
        <hr />
        <div class="article-text">
            @Html.Raw(Model.Html)
        </div>
        <div class="row text-center">
            <br />
            <h4>¿Te gustó el artículo?</h4>
            @Social.DefaultBtn(string.Format("http://thescienceofcode.azurewebsites.net/Articles/Show/{0}", Model.Id))            
            
        </div>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm left-col">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary" href="~/Home/Index">MÁS ARTÍCULOS</a>
        </div>

        @foreach (var article in ViewBag.Articles)
        {
            <div class="row">
                <div class="col-xs-12">
                    @Articles.Headline(article)
                </div>
            </div>
        }

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ArticlesBottom -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1426867402604645"
             data-ad-slot="1810456816"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <div class="pubdiv"></div>
        <br />
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <h3>¿Qué piensas?</h3>
        <div id="disqus_thread"></div>
    </div>
</div>



@section scripts{
    @Social.Disqus(
        Model.Title,
        string.Format("http://thescienceofcode.azurewebsites.net/Articles/Show/{0}", Model.Id))
}
