@model  Sibelius.Web.Models.Article
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaDescription = Model.Intro;
    ViewBag.MetaKeywords = Model.Tags;
    ViewBag.MainImage = Model.ImageUrl;
    ViewBag.ogUrl = "http://thescienceofcode.azurewebsites.net/articles/show/" + Model.Id;
}

@{ var backgroundposition = Model.BackgroundPosition != null ? Model.BackgroundPosition : "center bottom"; }

<br />
<div class="row">
    <div class="col-xs-12">
        <center>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- ArticlesTSOC -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1426867402604645"
                 data-ad-slot="5053899614"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="pubdiv"></div>
        </center>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>@Model.Title</h2>
        <h4>@Model.Author</h4>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-8 text-center">
        <div class="box-image">
            <div class="background-image big" style="background-image: url(@Model.ImageUrl); background-position: @backgroundposition;"></div>
        </div>
        <div class="text-center">
            @Html.Raw(Model.HtmlImageFooter)
            <br />
        </div>
        <hr />
        @Articles.Stats(Model)
    </div>
    <div class="col-md-4 text-center">
        @Social.FbPage()
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8">
        <p class="article-text-intro">
            @Model.Intro
        </p>
        <hr />
        <br />
        <div class="article-text">
            @Html.Raw(Model.Html)            
        </div>
        <div class="row text-center">
            <br />
            <h4>¿Te gustó el artículo?</h4>
            @Social.DefaultBtn(string.Format("http://thescienceofcode.azurewebsites.net/Articles/Show/{0}", Model.Id))

        </div>
    </div>

    <div class="col-md-4 hidden-xs hidden-sm left-col">
        <div class="more-articles-group">
            <span class="section-span">Quizá te interese</span>
            @foreach (var article in ViewBag.Articles)
            {
                <div class="row">
                    <div class="col-xs-12">
                        @Articles.Headline(article)
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<br />


<div class="row">
    <div class="col-md-8">
        <h3>¿Qué piensas?</h3>
        <div id="disqus_thread"></div>
    </div>   
    <div class="col-md-4 text-center">
        <h2>Aprende con nosotros</h2>
        @Social.FbPage()
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-8">
        <h3>Licencia</h3>
        @if (Model.License != null)
        {
            <small>@Html.Raw(Model.License.Html)</small>
        }
    </div>
</div>

@section scripts{
    @Social.Disqus(
        Model.Title,
        string.Format("http://thescienceofcode.azurewebsites.net/Articles/Show/{0}", Model.Id))
}




<div class="row">
    <div class="row">
        <div class="col-xs-12">
            <span class="section-span light">
                Más artículos
            </span>
        </div>
    </div>
    <div class="col-sm-12">
        @for (int i = bigArticles; i < articles.Count; i += 4)
            {
            <div class="row">
                @for (int j = i; (j < i + 4) && (j < articles.Count); ++j)
                {
                    <div class="col-sm-3">
                        @Articles.Headline(articles[j], true)
                    </div>
                }
            </div>
        }
    </div>
</div>