@model IEnumerable<Sibelius.Web.Models.PostSection>

@{
    ViewBag.Title = "Admin Post Setions";
}

<h2>Admin Post Sections</h2>

<p>
    <a class="btn btn-primary" href="~/AdminPostSections/Create">
        <span class="glyphicon glyphicon-plus"> </span>
    </a>
</p>
<table class="table table-striped table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="~/AdminPostSections/Edit/@item.Id">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn btn-default  btn-sm" href="~/AdminPostSections/Delete/@item.Id">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
    }

</table>
