@model Sibelius.Web.Models.Course

<div class="course-info">
    <div class="row">
        <div class="col-xs-8">
            <h3>@Model.Title</h3>
            <h4>@Model.Subtitle</h4>  
            <h5>
                @if (Model.Virtual)
            {
                    <span>Virtual</span>
                }
                else
                {
                    <span>Semestre @Model.Year - @Model.Semester</span>
                }
                <span style="float: right">
                    @if (Model.License != null)
                    {
                        @Model.License.ShortName
                    }
                </span>
            </h5>
            <div class="btn-group-justified">
                @if (Model.Active)
                {
                    <a class="btn btn-primary" href="~/Courses/Show/@Model.Id">
                        <span class="glyphicon glyphicon-plus">&nbsp;</span> Ver contenido
                    </a>
                }
                else
                {
                    <a class="btn btn-default" href="~/Courses/Show/@Model.Id">
                        <span class="glyphicon glyphicon-plus">&nbsp;</span> Ver contenido
                    </a>
                }
            </div>
        </div>
        <div class="col-xs-4"><br />
            <img class="center-block img-responsive" src="@Model.ImageUrl" style="max-height: 100px;" />
        </div>        
    </div>
</div>

