@model Sibelius.Web.Models.Course
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaDescription = Model.Title;
    ViewBag.MetaKeywords = Model.Title + ",aprender, computación, software, programación, desarrollo, cursos, universidad";
}
<br />
<div class="row">
    <div class="col-xs-12">
        <center>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Courses adap -->
            <ins class="adsbygoogle"
                 style="display:block;max-width:970px;width:100%;"
                 data-ad-client="ca-pub-1426867402604645"
                 data-ad-slot="4167642014"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="pubdiv"></div>
        </center>
    </div>
</div>
<br />
<div class="row course-info">
    <div class="col-sm-8 ">
        <h3>@Model.Title <span class="badge">@Model.Year - @Model.Semester</span> </h3>
        <h4>@Model.Subtitle</h4>
        <p class="text-justify hidden-xs">
            @Model.Intro
        </p>
        <b>Universidad:</b> @Model.University <br />
        <b>Profesor(es):</b> @Model.Professor <br />
        <b>Semestre:</b> @Model.Year - @Model.Semester <br />
        <div class="alert alert-warning text-justify">
            <span class="glyphicon glyphicon-exclamation-sign"></span> 
            Este es un curso presencial, no tenemos la cantidad de materiales disponibles que nos gustaría compartir.
            Puede hacerse una idea de los contenidos y revisar la bibliografía mientras preparamos mejores opciones.
        </div>
    </div>
    <div class="col-sm-4 hidden-xs">
        <br />
        <img class="img-responsive center-block" src="@Model.ImageUrl" />
        <div class="text-center">
            @Html.Raw(Model.HtmlImageFooter)
        </div>
    </div>
</div>
<br />
<div class="row well well-sm fixed" id="fixed-menu">
</div> 
<div class="row" id="fixeable-menu">
    <div class="container body-content fixed-container">
        <div class="col-xs-12">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-primary" data-toggle="#course-content"> 
                    <span class="glyphicon glyphicon-th-list"></span>
                    <br class="visible-xs"/> <span>&nbsp; Contenido</span>
                </a>
                <a class="btn btn-primary" data-toggle="#course-bib"> 
                    <span class="glyphicon glyphicon-book"></span> 
                    <br class="visible-xs" /> <span>&nbsp; Bibliografía</span></a>
                <a class="btn btn-primary" data-toggle="#course-tools"> 
                    <span class="glyphicon glyphicon-cog"></span> 
                    <br class="visible-xs" /> <span>&nbsp; Herramientas</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row" data-showable="true" id="course-body">
    <div id="course-content" style="display:none;" data-hide-me="true">
        <div class="col-xs-12">
            <h3>Contenido</h3>

            @Html.Raw(Model.Html)
        </div>
    </div>

    <div id="course-bib" style="display:none;" data-hide-me="true">
        <div class="col-xs-12">
            <h3>Bibliografía</h3>
            @Html.Raw(Model.BibHtml)
        </div>
    </div>

    <div id="course-tools" style="display:none;" data-hide-me="true">
        <div class="col-xs-12">
            <h3>Herramientas</h3>
            @Html.Raw(Model.ToolsHtml)
        </div>
    </div>
</div>

