@model Sibelius.Web.Models.Course
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaDescription = Model.Title;
    ViewBag.MetaKeywords = Model.Title + ",aprender, computación, software, programación, desarrollo, cursos, universidad";
}

<div class="row course-info">
    <div class="col-xs-12">
        <h3>@Model.Title <span class="badge">@Model.Year - @Model.Semester</span> </h3>
        <h4>@Model.Subtitle</h4>
    </div>
    <div class="col-sm-8 ">
        <p class="text-justify hidden-xs">
            @Model.Intro
        </p>
        <b>Universidad:</b> @Model.University <br />
        <b>Profesor(es):</b> @Model.Professor <br />
        <b>Semestre:</b> @Model.Year - @Model.Semester <br />
    </div>
    <div class="col-sm-4 hidden-xs">
        <img class="img-responsive" src="@Model.ImageUrl" />
        <div class="panel panel-default">
            <div class="panel-body text-center">
                @Html.Raw(Model.HtmlImageFooter)
            </div>
        </div>
    </div>
</div>
<br />
<div class="row" id="fixed-menu">
    <div class="container body-content fixed-container">
        <div class="col-xs-12">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-primary" data-toggle="#course-content"> 
                    <span class="glyphicon glyphicon-th-list"></span>
                    <br class="visible-xs"/> <span>&nbsp; Contenido</span>
                </a>
                <a class="btn btn-primary" data-toggle="#course-bib"> 
                    <span class="glyphicon glyphicon-book"></span> 
                    <br class="visible-xs" /> <span>&nbsp; Bibliografía</span></a>
                <a class="btn btn-primary" data-toggle="#course-tools"> 
                    <span class="glyphicon glyphicon-cog"></span> 
                    <br class="visible-xs" /> <span>&nbsp; Herramientas</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row" id="fixed-menu-empty">
</div>

<div class="row" data-showable="true" id="course-body">
    <div id="course-content" style="display:none;" data-hide-me="true">
        <div class="col-xs-12">
            <h3>Contenido</h3>

            @Html.Raw(Model.Html)
        </div>
    </div>

    <div id="course-bib" style="display:none;" data-hide-me="true">
        <div class="col-xs-12">
            <h3>Bibliografía</h3>
            @Html.Raw(Model.BibHtml)
        </div>
    </div>

    <div id="course-tools" style="display:none;" data-hide-me="true">
        <div class="col-xs-12">
            <h3>Herramientas</h3>
            @Html.Raw(Model.ToolsHtml)
        </div>
    </div>
</div>

