@model Sibelius.Web.Models.Post
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>@Model.Title <span class="badge">@Model.Section</span> </h4>
                <h5>@Model.Author</h5>

                <hr />
                <div class="text-justify">
                    @Html.Raw(Model.IntroHtml)
                </div>
                <div class="text-justify">
                    @if (Model.Html != null)
                    {                        
                        <hr />
                        @Html.Raw(Model.Html)
                        <div style="display:none">
                            <span id="desc">@ViewBag.MetaDescription</span>
                            <span id="keywords">@ViewBag.MetaKeywords</span>
                        </div>
                    }
                    else
                    {
                        <div class="btn-group-justified btn-group">
                            <a data-url="@Url.Content("~/Posts/Show/"+Model.Id)" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span>
                                Ver más... 
                                <img src="~/Content/loading-sm.gif" style="display:none;" />
                            </a>
                        </div>
                    }
                </div>
                <hr />
                <div class="row text-center">
                    @Social.DefaultBtn(string.Format("http://thescienceofcode.azurewebsites.net/Posts/Show/{0}", Model.Id))
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h6 class="ending">
                            Tags: @Model.Tags <br />
                            Posteado: @Model.Date.ToShortDateString()
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
