@model IEnumerable<Sibelius.Web.Models.Post>

@{  bool problems = ViewBag.Section != null && ViewBag.Section.ToUpper() == "PROBLEMAS"; }

<div style="display:none">
    <span id="desc">@ViewBag.MetaDescription</span>
    <span id="keywords">@ViewBag.MetaKeywords</span>
    <span id="title">@ViewBag.Title</span>
    <span id="mainImageUrl">@ViewBag.MainImage</span>
</div>

@if (problems)
{
    @Html.Partial("_Problems", Model);
}
else
{
    @Html.Partial("_Posts", Model);
}
@Html.Partial("~/Views/Shared/_Pagination.cshtml", 
    (Sibelius.Web.Models.PaginationVM)ViewBag.PaginationVM)