@model IEnumerable<Sibelius.Web.Models.Post>

<div class="well problems-div">
    <div class="row text-center">
        <h1>Resolvamos un problema</h1>
        @Social.DefaultBtn("http://thescienceofcode.azurewebsites.net/Posts/Section?name=Problemas")
    </div>
    <hr />
    <div class="table-responsive">
        <table class="small table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Problema y explicación</th>
                    <th>Tipo</th>
                    <th class="hidden-xs">Autor</th>
                    <th class="text-center hidden-xs">Social</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                var data = item.Title.Split('[');
                var type = data.Length <= 1 ? string.Empty : data[1].Substring(0, data[1].IndexOf(']'));
                var title = data.Length <= 2 ? "Problema" : data[2].Substring(0, data[2].IndexOf(']'));
                    <tr>
                        <td class="text-center">
                            <a class="btn btn-link btn-sm posts-btn" data-url="@Url.Content("~/Posts/Show/" +item.Id)">
                                @title
                            </a>
                        </td>
                        <td>@type</td>
                        <td class="hidden-xs">@item.Author</td>
                        <td class="hidden-xs">
                            @Social.CleanBtn(string.Format("http://thescienceofcode.azurewebsites.net/Posts/Show/{0}", item.Id), "")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>