@helper Stats(Sibelius.Web.Models.Article article, string css = "col-sm-6")
{   
    <div class="@css stats">
       <span class="glyphicon glyphicon-home"></span> @article.Visitas visitas aquí.
    </div>
    if (article.TaringaUrl != null && article.TaringaUrl != string.Empty)
    {
        <div class="@css taringa">
            <a href="@article.TaringaUrl" target="_blank"> Taringa: @article.TaringaVisitas visitas</a>
        </div>
    }
}


@helper Headline(Sibelius.Web.Models.Article article)
{
var backgroundposition = article.BackgroundPosition != null ? article.BackgroundPosition : "center bottom";

    <div class="box">
        <div class="sm-title">
            <span><small>@article.Section</small></span>
        </div> 
        <a href="~/Articles/Show/@article.Id">
            <div class="background-image" style="background-image: url(@article.ImageUrl); background-position: @backgroundposition;"></div>
            <div class="headline">   
                @article.Title
            </div>
        </a>
    </div>
}
