@helper Stats(Sibelius.Web.Models.Article article, string css = "col-sm-6")
{     
    <div class="col-xs-12 stats-title">
        <span class="glyphicon glyphicon-info-sign"></span> Sobre este artículo
    </div>
    <div class="@css stats">
       <span class="glyphicon glyphicon-home"></span> @article.Visitas visitas aquí.
    </div>
    if (article.TaringaUrl != null && article.TaringaUrl != string.Empty)
    {
        <div class="@css taringa">
            <a href="@article.TaringaUrl" target="_blank"> Taringa: @article.TaringaVisitas visitas</a>
        </div>
    }
}


@helper Headline(Sibelius.Web.Models.Article article)
{
var backgroundposition = article.BackgroundPosition != null ? article.BackgroundPosition : "center bottom";

    <div class="box">
        <a href="~/Articles/Show/@article.Id">
            <div class="background-image" style="background-image: url(@article.ImageUrl); background-position: @backgroundposition;"></div>
            <div class="headline">
                <div class="col-xs-12 sm-title">
                    <span><small>@article.Section.ToUpper()</small></span>
                </div>
                <div class="col-xs-12 md-title">
                    @article.Title
                </div>
                <div class="sm-bottom col-xs-12">
                    <div class="row text-center">
                        @Social.DefaultBtn(string.Format("http://thescienceofcode.azurewebsites.net/Articles/Show/{0}", article.Id))
                    </div>
                    <div class="row">
                        <div class="col-xs-12 author">
                            @article.Author
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
}
