@helper Stats(Sibelius.Web.Models.Article article, string css = "col-sm-6")
{
    <h4>@article.Visitas visitas aquí.</h4>
if (article.TaringaUrl != null && article.TaringaUrl != string.Empty)
{
        <h4>
            <a href="@article.TaringaUrl" target="_blank"> Taringa: @article.TaringaVisitas visitas</a>
        </h4>
}
}


@helper Headline(Sibelius.Web.Models.Article article, bool sm = false)
{
var backgroundposition = article.BackgroundPosition != null ? article.BackgroundPosition : "center bottom";
var smclass = sm ? "sm" : string.Empty;

    <a class="box @smclass" href="~/Articles/Show/@article.Id">
        <div class="box-header" style="background-image: url(@article.ImageUrl); background-position: @backgroundposition;">
            <div class="over"></div>
            <span class="box-section">@article.Section</span>
        </div>
        
        <span class="box-title">@article.Title</span>
        @if (sm && article.Intro != null)
        {
            var maxchars = Math.Min(200, article.Intro.Count());
            <p>

                @article.Intro.Substring(0, maxchars)
                @if (maxchars < article.Intro.Count())
                {
                    <span>(...)</span>
                }
            </p>
        }
    </a>
}

