@helper Img(string url, string alt="", string dataUrl=null)
{
    if (dataUrl != null)
    {
        <div class="actionable text-center" data-url="@dataUrl">
            <img src="@url" alt="@alt" class="img-responsive center-block" data-url="@dataUrl" />
            <img src="~/Content/loading-sm.gif" class="center-block" style="display:none;" />
        </div>
    }
    else
    {
        <img src="@url" alt="@alt" class="img-responsive center-block" />
    }
}
