@using System.Web.Mvc;
@using System.Web.Mvc.Html;

@functions
{
    private static new HtmlHelper<object> Html
    {
        get { return ((WebViewPage)CurrentPage).Html; }
    }

    private static UrlHelper Url
    {
        get { return ((WebViewPage)CurrentPage).Url; }
    }
}

@helper Img(string url, string alt="", string dataUrl=null)
{
    if (dataUrl != null)
    {
        <div class="actionable text-center" data-url="@dataUrl">
            <img src="@url" alt="@alt" class="img-responsive center-block" />
            <img src="~/Content/loading-sm.gif" class="center-block" style="display:none;" />
        </div>
    }
    else
    {
        <img src="@url" alt="@alt" class="img-responsive center-block" />
    }
}

@helper ReCaptcha()
{
    <div id="captcha-container">        
    </div>
    <div id="captcha-loading">
        @{Html.RenderPartial("~/Views/Shared/_Loading.cshtml", true);}
    </div>
    <script>
        
        var loadCaptcha = function () {            
            grecaptcha.render('captcha-container', {
                'sitekey': '@Sibelius.Web.Integration.ReCaptcha.PublicReCaptchaKey',
            });
            $('#captcha-loading').hide();
        }
    </script>
}

@helper ReloadReCaptcha()
{
    <script>
        $(function () { loadCaptcha() });
    </script>
}