@helper Img(string url, string alt="", string dataUrl=null)
{
    if (dataUrl != null)
    {
        <div class="actionable text-center" data-url="@dataUrl">
            <img src="@url" alt="@alt" class="img-responsive center-block" />
            <img src="~/Content/loading-sm.gif" class="center-block" style="display:none;" />
        </div>
    }
    else
    {
        <img src="@url" alt="@alt" class="img-responsive center-block" />
    }
}

@helper ReCaptcha()
{
    <div id="captcha_container" class="g-recaptcha" data-sitekey="@Sibelius.Web.Integration.ReCaptcha.PublicReCaptchaKey"></div>
    <script>
        function loadCaptcha() {
            captchaContainer = grecaptcha.render('captcha_container', {
                'sitekey': '@Sibelius.Web.Integration.ReCaptcha.PublicReCaptchaKey'
            });
        }
    </script>
}