@helper DefaultBtn(string url, string css = "col-sm-6")
{
    <div class="@css fb fb-default">
        <div class="fb-like" data-href="@url" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>
    <div class="@css tw tw-default">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="@url" data-via="ScienceOfCode">Tweet</a>
    </div>
}

@helper CleanBtn(string url, string css = "col-sm-6")
{
    <div class="@css fb">
        <div class="fb-like" data-href="@url" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <div class="@css tw">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="@url" data-via="ScienceOfCode">Tweet</a>
    </div>
}

@helper Disqus(string title, string url)
{
    <div id="disqus_thread"></div>
    <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    
    var disqus_config = function () {
        this.page.url = '@url';  // Replace PAGE_URL with your page's canonical URL variable
    };
    
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        

        var d = document, s = d.createElement('script');

        s.src = '//thescienceofcode.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();

    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

}

@helper Collaborator(Sibelius.Web.Models.Collaborator collaborator)
{
    if (collaborator != null)
    {
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <td>Nick</td>
                    <td><strong>@collaborator.Nickname</strong></td>
                </tr>
                <tr>
                    <td>Nombre completo</td>
                    <td><strong>@collaborator.Fullname</strong></td>
                </tr>                
                <tr>
                    <td>
                        Social
                    </td>
                    <td>
                        @if (collaborator.Facebook != null)
                        {
                            <a class="btn btn-primary" href="@collaborator.Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        }
                        @if (collaborator.Twitter != null)
                        {
                            <a class="btn btn-primary" href="@collaborator.Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        }
                        @if (collaborator.Google != null)
                        {
                            <a class="btn btn-primary" href="@collaborator.Google" target="_blank"><i class="fa fa-google"></i></a>
                        }
                        @if (collaborator.Github != null)
                        {
                            <a class="btn btn-primary" href="@collaborator.Github" target="_blank"><i class="fa fa-github"></i></a>
                        }
                        @if (collaborator.LinkedIn != null)
                        {
                            <a class="btn btn-primary" href="@collaborator.LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
                        }


                    </td>
                </tr>
            </tbody>
        </table>
    }
}

@helper FbPage()
{
        <div class="fb-page" data-href="https://www.facebook.com/TheScienceOfCode/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/TheScienceOfCode/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TheScienceOfCode/">The Science of Code</a></blockquote></div>
}

@helper TwPage()
{
    <a class="twitter-timeline"
       href="https://twitter.com/ScienceOfCode"
       data-height="300">
        Tweets by 
    </a>
}
